<mat-tab-group>
  <mat-tab label="Location Details">
    <h4 class="mt-4">Edit Location</h4>
    <div>
      <form class="needs-validation" novalidate [formGroup]="formGroup" (ngSubmit)="save()">
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-6 col-12">
            <label for="countryName">Country *</label>
            <select class="form-control" id="countryName" type="text" formControlName="countryName" maxlength="50">
              <option value="">Select Country</option>
              <option *ngFor="let country of countries" [ngValue]="country.uid">{{country.code}}</option>
            </select>

          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="state">State/Province *</label>
            <input id="state" class="form-control" type="text" formControlName="zipCode" maxlength="50" />
            <!-- <select id="locationType" class="form-control" type="text" formControlName="locationType" maxlength="50">
              <option value="">Select state or province.</option>
              <option *ngFor="let state of states" value="state">{{state}}</option>
            </select> -->
          </div>
        </div>
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-6 col-12">
            <label for="locationName">Location Name *</label>
            <!-- <div class="form-check form-check-inline float-right">
          <input class="form-check-input" type="checkbox" formControlName="isShownOnSite" id="isShownOnSite">
          <label class="form-check-label" for="isShownOnSite">Show on site</label>
        </div> -->

            <input id="locationName" class="form-control" type="text" formControlName="locationName" maxlength="50" />
          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="locationType">Location Type</label>
            <select id="locationType" class="form-control" formControlName="locationType" maxlength="4">
              <option value="">Select Location Type</option>
              <option *ngFor="let locationType of locationTypes" [ngValue]="locationType.id">{{locationType.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-6 col-12">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="text" formControlName="email" maxlength="50" />
          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12 d-flex flex-column justify-content-between">
            <div class="form-check form-check-inline float-right">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label" for="email">Enable after hours</label>
            </div>
            <div class="form-check form-check-inline float-right">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label" for="timezone">Specific Timezone</label>
            </div>
          </div>
        </div>
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-12 col-12">
            <label for="address">Address *</label>
            <input id="address" class="form-control" type="text" formControlName="address" maxlength="500" />
          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="longitude">Longitude</label>
            <input id="longitude" class="form-control" type="text" formControlName="longitude" maxlength="50" />

          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="latitude">Latitude</label>
            <input id="latitude" class="form-control" type="text" formControlName="latitude" maxlength="50" />

          </div>

        </div>
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-6 col-12">
            <label for="city">City *</label>
            <input id="city" class="form-control" type="text" formControlName="city" maxlength="50" />

          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="timezone">Timezone</label>
            <input id="timezone" class="form-control" type="text" formControlName="timezone" maxlength="50" />

          </div>
        </div>
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-6 col-12">
            <label for="phone">Phone</label>
            <input id="phone" class="form-control" type="text" formControlName="phone" maxlength="50" />

          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="mobilePhone">Mobile phone</label>
            <input id="mobilePhone" class="form-control" type="text" formControlName="mobilePhone" length="80" />

          </div>
        </div>
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-6 col-12">
            <label for="fax">Fax</label>
            <input id="fax" class="form-control" type="text" formControlName="fax" maxlength="3" />
            <!-- <div *ngIf="submitted && fields.timezone.errors" class="invalid-feedback">
              <div *ngIf="fields.timezone.errors.required">Timezone is required.</div>
              <div *ngIf="fields.timezone.errors.number">Timezone must be a number.</div>
              <div *ngIf="fields.timezone.errors.min">Timezone min value is -12.</div>
              <div *ngIf="fields.timezone.errors.max">Timezone max value is 12.</div>
            </div> -->
          </div>
        </div>
        <div class="form-group d-flex gap-x-15">
          <div class="form-group p-0 col-lg-4 col-md-4 col-sm-6 col-12">

            <label for="airportCode">Airport code</label>
            <input id="airportCode" class="form-control" type="text" formControlName="airportCode" maxlength="50" />

          </div>
          <div class="form-group p-0 col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="rateCode">Rate code *</label>
            <input id="rateCode" class="form-control" type="text" formControlName="rateCode" maxlength="50" />
            <!-- <div *ngIf="submitted && fields.rateCode.errors" class="invalid-feedback">
              <div *ngIf="fields.rateCode.required">Rate code is required.</div>
            </div> -->
          </div>
        </div>
        <div class="form-group ">
          <label for="description">Description *</label>
          <textarea id="description" class="form-control" name="description" formControlName="description" rows="4"
            maxlength="50"></textarea>

        </div>
        <div class="d-flex gap-x-15 justify-content-center">
          <button type="submit" class="btn btn-primary btn-default" [disabled]="isSubmitting">
            <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Submit
          </button>
          <button class="btn btn-outline-dark btn-default">Cancel</button>
        </div>

      </form>
    </div>
  </mat-tab>
  <mat-tab label="Operational Data">
    <h4 class="mt-4">Mandatory Extras</h4>
    <form class="needs-validation pt-3 d-flex flex-column" novalidate>
      <div class="form-group d-flex gap-x-15">
        <div class="col-12 p-0">
          <div class="table-responsive">
            <app-editable-grid [rowData]="opertaionalRowData" [newRowPrototype]="operationDataModel" [decorator]="locationOperatorGridDecorator">
            </app-editable-grid>
          </div>
        </div>
      </div>
      <div class="d-flex gap-x-15 justify-content-center">
        <button type="submit" class="btn btn-primary btn-default" [disabled]="isSubmitting">
          <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Submit
        </button>
        <button class="btn btn-outline-dark btn-default">Cancel</button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Working Schedule">
    <h4 class="mt-4">Working Schedule</h4>
    <form class="needs-validation pt-3 d-flex flex-column" novalidate>
      <div class="form-group d-flex gap-x-15">
        <div class="col-12 p-0">
          <div class="table-responsive">
            <app-editable-grid [rowData]="workingScheduleRowData" [newRowPrototype]="workingScheduleModel" [decorator]="workingScheduleGridDecorator">
            </app-editable-grid>
          </div>
        </div>
      </div>
      <div class="d-flex gap-x-15 justify-content-center">
        <button type="submit" class="btn btn-primary btn-default" [disabled]="isSubmitting">
          <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Submit
        </button>
        <button class="btn btn-outline-dark btn-default">Cancel</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>