::ng-deep .mat-tab-body-content {
    overflow: visible !important;
}
::ng-deep .mat-tab-label {
    font-weight: bold;
    color: black;
}
::ng-deep .mat-tab-body.mat-tab-body-active {
    overflow: visible !important;
}
.w-80 {
    width: 80%;
}