<h4>Excess Details</h4>
<form class="needs-validation pt-3" novalidate [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="row">
        <div class="form-group col-lg-7 col-md-7 col-sm-7 col-12">
            <div class="d-flex flex-column">
                <div>
                    <label for="name" class="required">Code</label>
                    <input class="form-control" type="text" formControlName="code" id="code" placeholder="Enter Code here"
                    [ngClass]="{ 'is-invalid': submitted && fields.code.errors, 'is-valid': submitted && !fields.code.errors }"/>
                    <div *ngIf="submitted && fields.code.errors"
                        class="invalid-feedback">
                    <div *ngIf="fields.code.errors.required">code is required.</div>
                    </div>
                </div>
                <div class="mt-3">
                    <label for="name" class="required">Description</label>
                    <textarea class="form-control" type="text" formControlName="description" id="description" placeholder="Write Description here" rows="5"
                      [ngClass]="{ 'is-invalid': submitted && fields.description.errors, 'is-valid': submitted && !fields.description.errors }"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-7 col-md-7 col-sm-7 col-12">
          <div class="d-flex justify-content-center" style="column-gap: 20px;">
            <button class="btn btn-primary btn-default">Submit</button>
            <button class="btn btn-outline-dark">Cancel</button>
          </div>
        </div>
    </div>
</form>
