<nav class="navbar navbar-expand-lg d-flex justify-content-between fixed-top bg-top-stantum">
  <a class="navbar-brand navbar-link" [routerLink]="['/']" aria-label="Home">
    <img src="/assets/images/logo-white.png" width="158" alt="logo" style="margin-top: -15px; margin-bottom: -15px; margin-right: 20px;">
    RS
  </a>
  <button class="navbar-toggler" *ngIf="router.url !== '/payment-overview'" type="button" (click)="toggleSidebar()" aria-label="Toggle navigation">
    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse">
    <div class="mr-auto ml-3 mt-2 mt-lg-0">
      <app-header-menu></app-header-menu>
    </div>
    <div *ngIf="isLoggedIn" class="welcome-text my-2 my-lg-0 text-right">
      <small><a class="version-link" [routerLink]="['/versions']">Build {{version}}</a></small><br>
      Welcome, <a [routerLink]="['/users/profile']" aria-label="Edit profile">{{userName}}</a><br>
      <button class="btn btn-light btn-sm" (click)="logout()" aria-label="Logout">Logout</button><br />
    </div>
  </div>
</nav>
