<form [formGroup]="formGroup" (ngSubmit)="filter()">
  <div class="row">
    <div class="form-group col-3">
      <label for="rate">Keywords</label>
      <input type="text" id="keywords" class="form-control" formControlName="keywords"/>
    </div>
    <div class="form-group col-3">
      <label>Country</label>
      <select class="form-control" formControlName="countryUid">
        <option value="all">All Countries</option>
        <option *ngFor="let item of countries" [ngValue]="item.uid">{{item.code}}</option>
      </select>
    </div>
    <div class="form-group col-3">
      <label>Currency</label>
      <select class="form-control" formControlName="currencyUid">
        <option value="all">All Currencies</option>
        <option *ngFor="let item of currencies" [ngValue]="item.uid">{{item.code}}</option>
      </select>
    </div>
    <div class="form-group col-3 d-flex align-items-end">
      <div class="d-flex justify-content-around align-items-center w-100">
        <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
        <button class="btn btn-primary btn-default" (click)="filter()">Filter</button>
      </div>
    </div>
  </div>
</form>