<!-- UI for UserForgotPasswordComponent

 Initially powered by Stantum Angular Utils.
 Want to dramatically increase your development speed too? Visit https://www.stantum.cz/development-automation -->

<div class="row justify-content-center align-items-center" style="min-height: 70vh; margin: 0px;">
  <div class="card border-0" style="background-color: transparent">
    <div class="card-header border-bottom-0" style="background-color: transparent">
      <img src="../../assets/images/logo-red.png" />
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          Password recovery
        </div>
        <div class="card-body" style="min-width: 450px; max-width: 450px;">
          <app-user-set-password #setPassComponent></app-user-set-password>
        </div>
        <div class="card-footer text-muted">
          <a href="#" routerLink="/login">Go to login page</a>
          <button type="button" class="btn btn-primary" (click)="recoverPassword()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
