<!-- UI for CountryExportExcelComponent

 Initially powered by Stantum Angular Utils.
 Want to dramatically increase your development speed too? Visit https://www.stantum.cz/development-automation -->
 <h5>Export Excels</h5>
<form class="needs-validation" novalidate [formGroup]="formGroup" (ngSubmit)="onExportCSV()">
  <div class="row form-group">
    <div class="col-8">
      <input class="form-control" type="date" formControlName="date" id="date"
             [ngClass]="{ 'is-invalid': submitted && fields.date.errors, 'is-valid': submitted && !fields.date.errors }" />
      <div *ngIf="fields.date.errors">
        <mat-error *ngIf="fields.date.errors.isNotOlderThan6Months">Date should older than 6 months.</mat-error>
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary btn-default mr-3" [disabled]="!isValid()">
        Export Excel
      </button>
    </div>
  </div>
</form>
