<mat-tab-group [color]="'primary'">
    <mat-tab label="Group Details">
        <form  class="needs-validation pt-3" novalidate [formGroup]="formGroup" (ngSubmit)="save()">
            <div class="row form-group">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label>Code *</label>
                    <input class="form-control" type="text" placeholder="Enter Code here" formControlName="code">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label>Description</label>
                    <input class="form-control" type="text" placeholder="Write description here" formControlName="description">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label>Reference Management *</label>
                    <select class="form-control" formControlName="referenceSegmentUid">
                        <option *ngFor="let segment of referenceSegments" [ngValue]="segment.uid">{{segment.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Excess without CDW *</label>
                            <input class="form-control" type="text" placeholder="5,000.00" formControlName="excessWithoutCDW">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Excess with CDW *</label>
                            <input class="form-control" type="text" placeholder="5,000.00" formControlName="excessWithCDW">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label>Deposit *</label>
                    <input class="form-control" type="text" placeholder="500.00" formControlName="deposit">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Excess without theft insurance *</label>
                            <input class="form-control" type="text" placeholder="5,000.00" formControlName="excessWithoutTheftInsurance">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Excess with SCDW *</label>
                            <input class="form-control" type="text" placeholder="0.00" formControlName="excessWithSCDW">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label>Image URL</label>
                    <input class="form-control" type="text" formControlName="imageUrl">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Excess theft *</label>
                            <input class="form-control" type="text" placeholder="5,000.00" formControlName="excessTheft">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Minimum License Time *</label>
                            <input class="form-control" type="text" placeholder="5" formControlName="minimumLicenseTime">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label>Reference version</label>
                    <input class="form-control" type="text" placeholder="BG" formControlName="referenceVersion">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Minimum Age *</label>
                            <input class="form-control" type="text" placeholder="21" formControlName="minimumAge">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label>Senior driver Age *</label>
                            <input class="form-control" type="text" placeholder="80" formControlName="seniorAge">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <label>Age break against a fee *</label>
                    <div class="d-flex">
                        <div class="row" formGroupName="ageBreak">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input class="form-control" type="text" placeholder="21" formControlName="begin">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input class="form-control" type="text" placeholder="25" formControlName="end">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <label for="details">Details</label>
                    <textarea class="form-control" id="details" formControlName="details"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-x-20">
                <button class="btn btn-primary btn-default">Submit</button>
                <button class="btn btn-outline-dark btn-default">Cancel</button>
            </div>
        </form>
    </mat-tab>
    <!-- <mat-tab label="Upgrades/Downgrades Authorized">

    </mat-tab> -->
</mat-tab-group>