<ag-grid-angular
    style="width: 100%;"
    [ngStyle]="style"
    class="ag-theme-alpine"
    #gridProperties
    [frameworkComponents]="frameworkComponents"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [suppressRowHoverHighlight]="suppressRowHoverHighlight"
    [components]="components"
    [rowData]="rowData && rowData.length > 0 ? rowData : []"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    [suppressClickEdit]="suppressClickEdit"
    [suppressRowClickSelection]="suppressRowClickSelection"
    domLayout="autoHeight"
    [rowHeight]="32"
    [editType]="'fullRow'"
    [headerHeight]="36"
    [singleClickEdit]="false"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (rowEditingStopped)="onRowEditingStopped($event)"
    (rowValueChanged)="onRowValueChanged($event)"
    (cellKeyDown)="onCellKeyDown($event)"
    (rowSelected)="onRowSelected($event)"
    (rowClicked)="onRowClicked($event)"
    (cellClicked)="onCellClicked($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    (rowDoubleClicked)="onRowDoubleClicked($event)"
    (columnHeaderClicked)="onColumnHeaderClicked($event)"
    (selectionChanged)="onSelectionChanged($event)"
  ></ag-grid-angular>
