<div class="row align-items-end mb-2">
    <div class="col-9">
        <div class="row container">
            <div class="col-3">
                <label for="minRate1">Min Rate</label><input type="text" class="form-control" id="minRate1" />
            </div>
            <div class="col-3">
                <label for="maxRate1">Max Rate</label><input type="text" class="form-control" id="maxRate1" />
            </div>
            <div class="col-3">
                <label for="minPeriod1">Min Period</label><input type="text" class="form-control" id="minPeriod1" />
            </div>
            <div class="col-3">
                <label for="maxDiscount1">Max Discount</label><input type="text" class="form-control"
                    id="maxDiscount1" />
            </div>
        </div>
    </div>
    <div class="col-3">
        <button class="btn btn-primary btn-default size-normal mt-2">Filter</button>
    </div>
</div>