<!-- UI for UserForgotPasswordComponent

 Initially powered by Stantum Angular Utils.
 Want to dramatically increase your development speed too? Visit https://www.stantum.cz/development-automation -->
 
 <div class="row justify-content-center align-items-center" style="min-height: 70vh; margin: 0px;">
   <div class="card border-0" style="background-color: transparent">
     <div class="card-header border-bottom-0" style="background-color: transparent">
       <img src="../../assets/images/logo-red.png" />
     </div>
     <div class="card-body">
       <div class="card">
         <div class="card-body" style="min-width: 450px; max-width: 450px;">
           <form name="form" id="form" class="form-horizontal needs-validation" novalidate [formGroup]="formGroup" (ngSubmit)="resetPassword()" *ngIf="!isEmailSent">
             <div *ngIf="!errors" class="alert alert-light" role="alert">
               Forgot Password
             </div>
             <div *ngIf="errors" class="alert alert-danger" role="alert">
               <div *ngFor="let error of errors">{{error}}</div>
             </div>
             <div class="input-group mb-3">
               <label for="email" class="sr-only">Email</label>
               <div class="input-group-prepend">
                 <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
               </div>
               <input class="form-control" type="text" formControlName="email" placeholder="Email" maxlength="500" [ngClass]="{ 'is-invalid': submitted && fields.email.errors, 'is-valid': submitted && !fields.email.errors }" />
               <div *ngIf="submitted && fields.email.errors" class="invalid-feedback">
                 <div *ngIf="fields.email.errors.required">Email is required.</div>
                 <div *ngIf="fields.email.errors.email">Email is invalid email.</div>
               </div>
             </div>
             <div class="input-group mb-2">
               <label for="userName" class="sr-only">UserName</label>
               <input (focus)="onFocus()" class="form-control" type="text" formControlName="userName" placeholder="UserName" maxlength="500" />
             </div>
             <div class="input-group mb-2">
               <label for="firstName" class="sr-only">FirstName</label>
               <input (focus)="onFocus()" class="form-control" type="text" formControlName="firstName" placeholder="FirstName" maxlength="500" />
             </div>
             <div class="input-group mb-2">
               <label for="lastName" class="sr-only">LastName</label>
               <input (focus)="onFocus()" class="form-control" type="text" formControlName="lastName" placeholder="LastName" maxlength="500" />
             </div>
             <div class="form-group">
               <!-- Button -->
               <div class="text-center">
                 <button #submit type="submit" class="btn btn-primary-login">
                   <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                   <i *ngIf="!isSubmitting" class="fas fa-sign-in-alt"></i> Reset Password
                 </button>
               </div>
             </div>
           </form>
           <h5 *ngIf="isEmailSent" class="text-center">
            Thank you for your entry. Please follow the steps from the email message.
           </h5>
         </div>
       </div>
     </div>
   </div>
 </div>
 
