<div class="d-flex justify-content-between">
    <div *ngIf="!isEdit" (click)="clickEditButton()">
        <span ><i class="far fa-edit"></i>Edit</span>
    </div>
    <div *ngIf="isEdit" (click)="clickAddButton()">
        <span><i class="fa fa-plus"></i>Add</span>
    </div>
    <div *ngIf="isEdit" class="ml-2 d-flex justify-content-evenly">
        <div (click)="clickCheckButton()">
            <span class="mr-2"><i class="fa fa-check"></i></span>
        </div>
        <div (click)="clickCloseButton()">
            <span><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>

<!-- <div class="d-flex">
    <input class="w-25px" [(ngModel)]="firstDay" />
    <span>-</span>
    <input class="w-25px" [(ngModel)]="secondDay" />
    <div (click)="checkDayBreak()">
        <span class="mr-2"><i class="fa fa-check"></i></span>
    </div>
    <div (click)="cancelDayBreak()">
        <span><i class="fa fa-times"></i></span>
    </div>
</div> -->