<div class="col-12 p-0 d-flex">
    <div class="col-lg-9 col-md-9 col-sm-9 col-12 p-0">
        <mat-tab-group [color]="'primary'">
            <mat-tab label="Value Definition">
                <form *ngIf="currentModel" class="needs-validation pt-3" novalidate [formGroup]="formGroup"
                    (ngSubmit)="save()">
                    <div class="row">
                        <div class="form-group col-12">
                            <div class="row d-flex flex-column">
                                <div class="col-12 form-group d-flex">
                                    <div class="col-md-5 col-lg-5 col-sm-5">
                                        <label for="name" class="required">Code</label>
                                        <input class="form-control" type="text" formControlName="code" id="code"
                                            placeholder="Enter Code here"
                                            [ngClass]="{ 'is-invalid': submitted && fields.code.errors, 'is-valid': submitted && !fields.code.errors }" />
                                        <div *ngIf="submitted && fields.code.errors" class="invalid-feedback">
                                            <div *ngIf="fields.code.errors.required">code is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 d-flex align-items-end">
                                        <mat-checkbox>Disabled</mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <div class="col-md-5 col-lg-5 col-sm-5">
                                        <label for="name" class="required">Description</label>
                                        <input class="form-control" type="text" formControlName="description"
                                            id="description" placeholder="Additional Driver" />
                                    </div>
                                </div>
                                <div class="col-12 d-flex p-0">
                                    <div class="col-md-5 col-lg-5 col-sm-5 d-flex flex-row">
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                                            <label for="category" class="required">OTA Category</label>
                                            <select class="form-control" formControlName="category" id="category">
                                                <option value="">Select Category</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-12 pr-0">
                                            <label for="code" class="required">Code</label>
                                            <input class="form-control" type="text" formControlName="code" id="code"
                                                placeholder="Code" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-10 col-md-10 col-sm-12 col-12">
                            <div class="d-flex justify-content-center" style="column-gap: 20px;">
                                <button class="btn btn-primary btn-default">Submit</button>
                                <button class="btn btn-outline-dark">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 py-2">
                            <app-rates-seasons-list></app-rates-seasons-list>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 py-2">
                            <app-rates-values-list></app-rates-values-list>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 py-2">
                            <app-rates-extras-definitions-list></app-rates-extras-definitions-list>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                                <div class="d-flex gap-x-15 justify-content-center">
                                    <button class="btn btn-primary btn-default" type="button">Submit</button>
                                    <button class="btn btn-outline-dark" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Percentual Definition">
                <div class="row">
                    <div class="col-12">
                        <app-rates-extras-search-list [list]="extraSearchList"></app-rates-extras-search-list>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="pt-5">
        <mat-tab-group [color]="'primary'">
            <mat-tab label="Options">
                <div class="col-12 mx-4 my-5">
                    <mat-checkbox>Younger/Senior Driver</mat-checkbox>
                </div>
                <div class="col-12 mx-4 d-flex flex-column my-5">
                    <mat-checkbox>Value by RA</mat-checkbox>
                    <mat-checkbox>Percentual extra</mat-checkbox>
                    <mat-checkbox>Quantity Accepted</mat-checkbox>
                </div>
                <div class="col-12 mx-4 d-flex flex-column my-5">
                    <mat-checkbox>Available for Internet</mat-checkbox>
                    <mat-checkbox>Apply rate tax</mat-checkbox>
                </div>
                <div class="col-12 d-flex flex-column my-5">
                    <span class="mx-2 my-2">Insurances</span>
                    <div class="mx-4 d-flex flex-column">
                        <mat-checkbox>Collison damage Waiver</mat-checkbox>
                        <mat-checkbox>Super collision damage Waiver</mat-checkbox>
                        <mat-checkbox>Third party liability</mat-checkbox>
                        <mat-checkbox>Theft excess</mat-checkbox>
                    </div>
                </div>
                <div class="col-12 d-flex flex-column my-5">
                    <span class="mx-2 my-2">Premium Service</span>
                    <div class="mx-4 d-flex flex-column">
                        <mat-checkbox>TBD (Discount on SCDW)</mat-checkbox>
                    </div>
                </div>
                <div class="col-12 d-flex flex-column my-5">
                    <span class="mx-2 my-2">Fuel Definitions</span>
                    <div class="mx-4 d-flex flex-column">
                        <mat-checkbox>Same to Same</mat-checkbox>
                        <mat-checkbox>Full to Full</mat-checkbox>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    </div>
</div>

