<!--<div class="row">-->
<!--</div>-->
<div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="input-group mb-3">
        <input type="text"
               class="form-control search-text "
               [placeholder]="placeholder"
               [(ngModel)]="searchText"
               (keyup.enter)="performSearch()"
               maxlength="200"
               aria-describedby="button-addon2" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchText()">
          X
        </button>
      </div>
    </div>
    <div class="col-md-3 input-group mb-3 col-sm-6" *ngIf="countriesList && countriesList.length > 1">
      <select *ngIf="isSelectVisible" class="form-select form-control" aria-label=".form-select-lg example"
              style="height:auto" [(ngModel)]="selectedCountryUID">
        <option [ngValue]="null">Select country</option>  
        <option *ngFor="let item of countriesList" [ngValue]="item.uid">{{item.name}}</option>
      </select>
    </div>
    <div class="col-md-5 col-sm-6">
      <div class="input-group-append" style="justify-content:right">
        <button class="btn btn-outline-secondary search-btn" type="button" id="button-addon2" (click)="performSearch()" [disabled]="!canSearch">Search</button>
      </div>
    </div>
  </div>
  